# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/rocket-launches/node_modules
/rocket-launches/.pnp
/rocket-launches/.pnp.js

# testing
/rocket-launches/coverage

# production
/rocket-launches/build

# misc
/rocket-launches/.DS_Store
/rocket-launches/.env.local
/rocket-launches/.env.development.local
/rocket-launches/.env.test.local
/rocket-launches/.env.production.local

/rocket-launches/npm-debug.log*
/rocket-launches/yarn-debug.log*
/rocket-launches/yarn-error.log*
